@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation: pulse 1s infinite;
}

h3, p {
    text-align: center;
}

.table {
    margin: auto;
    max-width: 860px;
}

.ng-animate {
    transition: all 0.3s ease-in;
}

.ng-enter {
     opacity: 0;
 }
.ng-enter-active {
      opacity: 1;
  }