<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
    <img src="assets/img/pomodoro.png" alt="Pomodoro"/>
    <countdown
            [seconds]="25"
            (complete)="onCountdownCompleted()"
            #counter>
    </countdown>
    <p>
        <button class="btn btn-default"(click)="counter.seconds = 25">
            Reset countdown to 25 seconds
        </button>
    </p>
    <p *ngIf="counter.seconds < 10">
        Beware! Only
        <strong>{{ counter.seconds }} seconds</strong>
        left.
    </p>
</div>
</body>
</html>