<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
    <img src="assets/img/pomodoro.png" alt="Pomodoro"/>
    <div class="container">
        <div>
            <h3>
                {{ queuedPomodoros | i18nPlural:queueHeaderMapping }} for today
                <span class="small" *ngIf="queuedPomodoros > 0">(Estimated time: {{
queuedPomodoros * 25 }})</span>
            </h3>
            <p>
<span *ngFor="let queuedTask of tasks">
<pomodoro-task-icons
        [task]="queuedTask"
        size="50"
        (mouseover)="tooltip.innerText = queuedTask.name"
        (mouseout)="tooltip.innerText = 'Mouseover for details'">
</pomodoro-task-icons>
</span>
</span>
            </p>
            <p #tooltip *ngIf="queuedPomodoros > 0">Mouseover for details</p>
        </div>
        <h4>Tasks backlog</h4>
        <!-- rest of template remains the same -->
        <table class="table">
            <thead>
            <tr>
                <th>Task ID</th>
                <th>Task name</th>
                <th>Deliver by</th>
                <th>Pomodoros</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#task of tasks; #i = index">
                <th scope="row">{{i}}
                    <span *ngIf="task.queued" class="label label-info">
Queued
</span>
                </th>
                <td>{{task.name | slice: 0:35 }}
                    <span [hidden]="task.name.length < 35">...</span>
                </td>
                <td>{{task.deadline | date: 'fullDate' }}
                    <span *ngIf="task.deadline < today" class="label label-danger">
Due
</span>
                </td>
                <td class="text-center">{{task.pomodorosRequired}}</td>
                <td>
                    <button
                            type="button"
                            class="btn btn-default btn-xs"
                            (click)="toggleTask(task)"
                            [ngSwitch]="task.queued">
                        <template [ngSwitchWhen]="false">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            Add
                        </template>
                        <template [ngSwitchWhen]="true">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                            Remove
                        </template>
                        <template ngSwitchDefault>
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            Add
                        </template>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>